In [59]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [60]:

df=pd.read_csv('C:\\Users\\SAI SREEKAR KAJA\\Desktop\\python\\01_DataScience\\Datasets\\Log-Reg-Case-Study.csv')
df.head()

,Customer_ID,Credit_Amount,Purpose_Credit_Taken,Duration_in_Months,Status_Checking_Accnt,Credit_History,Job_Status,Years_At_Present_Employment,Marital_Status_Gender,Other_Debtors_Guarantors,Current_Address_Yrs,Age,Housing,Num_Credits,Num_Dependents,Foreign_Worker,Default_On_Payment
0,C15001,3939,P40,11,S11,A34,A172,E73,A93,A101,2,40,A152,2,2,A201,0
1,C15002,1795,P43,18,S12,A34,A172,E75,A92,A103,4,48,A151,2,1,A201,0
2,C15003,6143,P41,48,S11,A34,A172,E75,A92,A101,4,58,A153,2,1,A201,1
3,C15004,2675,P43,22,S14,A32,A173,E75,A93,A101,4,40,A152,1,1,A201,0
4,C15005,12389,P40,36,S12,A32,NaN,E73,A93,A101,4,37,A153,1,1,A201,1

In [61]:
df2=df._get_numeric_data()# extract all columns with numerical data 

df2.head()

,Credit_Amount,Duration_in_Months,Current_Address_Yrs,Age,Num_Credits,Num_Dependents,Default_On_Payment
0,3939,11,2,40,2,2,0
1,1795,18,4,48,2,1,0
2,6143,48,4,58,2,1,1
3,2675,22,4,40,1,1,0
4,12389,36,4,37,1,1,1

In [62]:
X=df2.loc[:,df2.columns!='Default_On_Payment'].values
X

array([[3939,   11,    2,   40,    2,    2],
       [1795,   18,    4,   48,    2,    1],
       [6143,   48,    4,   58,    2,    1],
       ...,
       [3595,   36,    2,   28,    1,    1],
       [2622,   18,    4,   34,    1,    1],
       [2142,   11,    2,   28,    1,    1]], dtype=int64)

In [63]:
y=df2.iloc[:,6].values
y

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [64]:
logit = sm.Logit( y, sm.add_constant(X) )
lg = logit.fit()
lg.summary()

Optimization terminated successfully.
         Current function value: 0.583665
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4993
Method:                           MLE   Df Model:                            6
Date:                Mon, 17 Jun 2019   Pseudo R-squ.:                 0.04320
Time:                        21:16:09   Log-Likelihood:                -2918.3
converged:                       True   LL-Null:                       -3050.1
                                        LLR p-value:                 5.333e-54
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.0457      0.170     -6.164      0.000      -1.378      -0.713
x1          3.166e-05   1.38e-05      2.292      0.022    4.59e-06    5.87e-05
x2             0.0318      0.003      9.685      0.000       0.025       0.038
x3             0.0471      0.030      1.585      0.113      -0.011       0.105
x4            -0.0186      0.003     -5.992      0.000      -0.025      -0.013
x5            -0.1412      0.058     -2.437      0.015      -0.255      -0.028
x6             0.0928      0.089      1.040      0.298      -0.082       0.268
==============================================================================
"""

In [65]:
print(sm.add_constant(X))

[[1.000e+00 3.939e+03 1.100e+01 ... 4.000e+01 2.000e+00 2.000e+00]
 [1.000e+00 1.795e+03 1.800e+01 ... 4.800e+01 2.000e+00 1.000e+00]
 [1.000e+00 6.143e+03 4.800e+01 ... 5.800e+01 2.000e+00 1.000e+00]
 ...
 [1.000e+00 3.595e+03 3.600e+01 ... 2.800e+01 1.000e+00 1.000e+00]
 [1.000e+00 2.622e+03 1.800e+01 ... 3.400e+01 1.000e+00 1.000e+00]
 [1.000e+00 2.142e+03 1.100e+01 ... 2.800e+01 1.000e+00 1.000e+00]]

In [71]:
def  get_significant_vars(lm):
    #print(lm.pvalues)
    var_p_vals_df=pd.DataFrame(lm.pvalues)
    #print(var_p_vals_df)
    #print(var_p_vals_df.index)
    var_p_vals_df['vars']=var_p_vals_df.index
    #print(var_p_vals_df['vars'])
    var_p_vals_df.columns=['pvals','vars']
    #print(var_p_vals_df.columns)
    #print(var_p_vals_df)
    return list(var_p_vals_df[var_p_vals_df.pvals<=0.05]['vars'])

In [72]:
significant_vars = get_significant_vars( lg )
significant_vars

[0, 1, 2, 3, 4]

In [73]:
X=df2.ix[:,(0, 1, 3, 4)].values
X

C:\Users\SAI SREEKAR KAJA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

array([[3939,   11,   40,    2],
       [1795,   18,   48,    2],
       [6143,   48,   58,    2],
       ...,
       [3595,   36,   28,    1],
       [2622,   18,   34,    1],
       [2142,   11,   28,    1]], dtype=int64)

In [74]:
logit = sm.Logit( y, sm.add_constant(X) )
lg = logit.fit()
lg.summary()

Optimization terminated successfully.
         Current function value: 0.584029
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4995
Method:                           MLE   Df Model:                            4
Date:                Mon, 17 Jun 2019   Pseudo R-squ.:                 0.04260
Time:                        21:16:45   Log-Likelihood:                -2920.1
converged:                       True   LL-Null:                       -3050.1
                                        LLR p-value:                 4.899e-55
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.8747      0.138     -6.340      0.000      -1.145      -0.604
x1          3.158e-05   1.38e-05      2.285      0.022    4.49e-06    5.87e-05
x2             0.0319      0.003      9.728      0.000       0.025       0.038
x3            -0.0171      0.003     -5.707      0.000      -0.023      -0.011
x4            -0.1311      0.058     -2.273      0.023      -0.244      -0.018
==============================================================================
"""

In [75]:
significant_vars = get_significant_vars( lg )
significant_vars

[0, 1, 2, 3, 4]